@model Testing1.Student

<table>
    <tr>
        <td>Name:</td>
        <td>@Html.TextBoxFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>@Html.TextBoxFor(m => m.Gender)</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>@Html.TextBoxFor(m => m.Address)</td>
    </tr>


    <tr>
        <td>Email:</td>
        <td>@Html.TextBoxFor(m => m.email)</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>@Html.PasswordFor(m => m.password)</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Save Changes" />
        </td>
    </tr>
</table>
